importlib_metadata==1.7.0
scikit_image==0.16.2
wandb==0.10.7
scipy==1.5.0
albumentations==0.4.6
opencv_python==4.4.0.44
torchvision==0.7.0
tqdm==4.47.0
lxml==4.5.2
typing_extensions==3.7.4.2
zipp==3.1.0
numpy==1.19.2
dominate==2.5.2
Cython==0.29.21
imageio==2.9.0
keyring==21.2.1
matplotlib==3.2.2
docutils==0.16
torch==1.6.0
brotlipy==0.7.0
beautifulsoup4==4.9.3
brotli==1.0.9
lockfile==0.12.2
ordereddict==1.1
Pillow==8.1.2
protobuf==3.15.6
pyOpenSSL==20.0.1
visdom==0.1.8.9
wincertstore==0.2

